.page {
    padding-left: 5%;
}

.hero {
    font-size: 1.5rem;
    margin-top: 20%;
}

@media only screen and (max-width: 560px) {
    .page {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 1.5rem;
    }

    .hero {
        margin-top: 5%;
        width: 100%;
    }

    .hero > .title {
        font-size: 1.25rem;
    }

    .hero > .fancy {
        font-size: 1.5rem;
    }

    .socials {
        display: none !important;
    }

    .description {
        font-size: 1.2rem;
        text-align: justify;
    }

    #tree-bg {
        position: relative !important;
    }
}

.hero > .fancy {
    color: var(--accent);
    line-height: 40px;
    font-size: 2.5rem;
    margin-top: -1rem;
}

.description {
    margin-top: 1rem;
}

.description > p {
    max-width: 400px;
}

#tree-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    object-fit: contain;
    max-height: calc(100vh - 40%);
    z-index: -1;
}

.socials {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
}

.socials > * {
    width: 36px;
    height: 36px;
    background-color: var(--color);
}

.socials > *:hover {
    background-color: var(--accent);
}

#git-hub {
    mask: url("/assets/github-mark-white.svg") 0 0 / 36px 36px no-repeat;
}

#stack-overflow {
    mask: url("/assets/stackoverflow-tile.svg") 0 0 / 36px 36px no-repeat;
}

#linked-in {
    mask: url("/assets/linkedin-tile.svg") 0 0 / 36px 36px no-repeat;
}

#gmail {
    mask: url("/assets/github-mark-white.svg") 0 0 / 36px 36px no-repeat;
}
