.nav-menu {
  font-family: "Antic Slab", serif;
  padding-left: min(15%, 300px);
  padding-right: 2rem;
  height: 100%;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.nav-menu:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 100%;
  z-index: -1;
  background: linear-gradient(
    to bottom,
    transparent  15%,
    var(--color) 25%,
    var(--color) 75%,
    transparent  85%
  );
}

.nav-menu > .item {
  padding: 1rem;
  font-size: 1.5rem;
  text-align: end;
}

.nav-menu > .item.selected {
  color: var(--accent);
}

@media only screen and (max-width: 560px){
  .hide-on-small-screen {
    display: none;
  }
}

@media only screen and (min-width: 560px){
  .hide-on-big-screen {
    display: none;
  }
}

.menu-toggle-icon-container {
  background-color: var(--background);
  padding: 1rem;
  margin-left: auto;
  max-height: 64px;
}

#menu-icon {
  height: 36px;
  width: 36px;
  background-color: var(--color);
  mask: url("/assets/dots-3-vertical-svgrepo-com.svg") 0 0 / 36px 36px no-repeat;
}
