:root {
  --background: #F8F2EC;
  --color: #727272;
  --accent: #E67979;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--color);
  font-family: "Athiti", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
}

.fancy {
  font-family: "Aref Ruqaa", serif;
}

.title {
  font-family: "Antic Slab", serif;
}

.page {
  padding: 2rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.fill-icon {
  fill: var(--color);
}
