.terra-text {
  color: #fff;
  width: fit-content;
}

.terra-text-heading {
  font-family: 'Jaldi', sans-serif;
  line-height: 1.2em;
}

.terra-text-body {
  font-family: 'Josefin Sans', sans-serif;
  line-height: 1em;
}

.terra-text-gutter-bottom {
  margin-bottom: .4em;
}

.terra-text-xLarge {
  font-size: 96px;

  @media screen and (max-width: 1000px) {
    font-size: 64px;
  }
  @media screen and (max-width: 600px) {
    font-size: 48px;
  }
}

.terra-text-large {
  font-size: 64px;

  @media screen and (max-width: 1000px) {
    font-size: 48px;
  }
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}

.terra-text-normal {
  font-size: 24px; // God forgive me...

  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.text-accent {
  color: #ff7746;
}

.spicy-text {
  background: linear-gradient(90deg, #D87EE7 0%, #FE47C0 50%, #F34949 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Jaldi', sans-serif;
}
