.body-container {
  display: flex;
  flex-direction: column;

  #text {
    max-width: min(1200px, 100%);
    font-size: 32px;

    @media screen and (max-width: 800px) {
      height: 100vh;
    }
    @media screen and (min-width: 1000px) {
      margin-left: 3em;
      margin-top: 3em;
    }
  }

  min-height: 100vh;
  width: 100%;
  padding: 2rem;

  h1 {
    font-size: 64px;
    line-height: 80px;
  }

  p {
    margin-bottom: 1rem;
    margin-left: 1em;
    font-size: 32px;
  }

  #cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    align-self: end;
    margin-top: auto;

    h2 {
      grid-column: 2;
    }

    @media screen and (max-width: 1000px) {
      align-self: start;

      h2 {
        grid-column: 1;
      }
    }

    @media screen and (max-width: 800px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      width: 100%;
    }

    :first-child {
      margin-bottom: 1rem;
    }
  }

  #terra {
    mask: url('./TerraInactive.svg') no-repeat;

    @media screen and (max-width: 1000px) {
      mask: url('./TerraActive.svg') no-repeat;
      background: linear-gradient(90deg, #93B62F 0%, #0DAA2F 100%);
    }
  }

  #terra:hover {
    mask: url('./TerraActive.svg') no-repeat;
    background: linear-gradient(90deg, #93B62F 0%, #0DAA2F 100%);
  }

  #foobar {
    mask: url('./FooBarCard.svg') no-repeat;

    @media screen and (max-width: 1000px) {
      mask: url('./FooBarActive.svg') no-repeat;
      background: linear-gradient(90deg, #01BAF5 0%, #0072FF 100%), #4D314A;
    }
  }

  #foobar:hover {
    mask: url('./FooBarActive.svg') no-repeat;
    background: linear-gradient(90deg, #01BAF5 0%, #0072FF 100%), #4D314A;
  }

  .card {
    height: 357px;
    width: 250px;
    background: #4D314A;
    mask-size: contain;
    transition: transform .2s ease;
    grid-row: 2;
  }

  .card:hover {
    transform: scale(1.05);
  }
}
